{%- set l = lang -%}
<p>{{ "Diese Datenschutzerklärung kann bei Bedarf aktualisiert werden. Die aktuelle Version finden Sie stets auf dieser Seite." if l == "de" else "This privacy policy may be updated as needed. The current version can always be found on this page." }}</p>
