{%- set l = lang -%}
<p>{{ "Die App richtet sich nicht speziell an Kinder unter 16 Jahren und erhebt keinerlei personenbezogene Daten. Da keine Daten erhoben werden, besteht kein besonderes Risiko im Sinne des Jugendschutzes." if l == "de" else "The app is not specifically directed at children under 16 years of age and does not collect any personal data. Since no data is collected, there is no particular risk in terms of child protection." }}</p>
