{%- set l = lang -%}
<p>{{ "Alle Daten werden ausschließlich im privaten App-Speicher des Android-Betriebssystems gespeichert und sind für andere Apps nicht zugänglich." if l == "de" else "All data is stored exclusively in the private app storage of the Android operating system and is not accessible to other apps." }}
{{ "Die App stellt keine Netzwerkverbindungen her, sodass keine Daten über das Internet übertragen werden." if l == "de" else "The app does not make any network connections, so no data is transmitted over the internet." }}</p>
