{%- set l = lang -%}
<p>{{ "Alle lokal gespeicherten Daten verbleiben auf Ihrem Gerät, bis Sie die App deinstallieren oder die App-Daten manuell über die Android-Einstellungen löschen." if l == "de" else "All locally stored data remains on your device until you uninstall the app or manually clear the app data via the Android settings." }}</p>
