<!DOCTYPE html>
<html lang="{{ lang }}">

<head>
    {% include "partials/head.njk" %}
</head>

<body>
    {% include "partials/nav.njk" %}

    {{ content | safe }}

    {% include "partials/footer.njk" %}

    <script type="module" src="{{ rootPath }}assets/js/main.js"></script>
</body>

</html>
