---
layout: base.njk
noindex: true
---
<main class="section legal">
    <div class="section__container">
        <h1 class="section__title">{{ heading }}</h1>

        <div class="legal__content">
            {{ content | safe }}
        </div>
    </div>
</main>
