<nav class="nav" id="nav">
    <div class="nav__container">
        <a href="{{ homeUrl }}" class="nav__logo">
            <span class="nav__logo-bracket">{</span>JJ<span class="nav__logo-bracket">}</span>
        </a>
    </div>
</nav>
