---
layout: home.njk
permalink: "index.html"
lang: de
title: "Software-Entwicklung"
metaDescription: "JJ's Stuff – Indie-Software-Entwicklung. Apps, die Spaß machen und funktionieren."
ogDescription: "Indie-Software-Entwicklung. Apps, die Spaß machen und funktionieren."
ogUrl: "https://jjsstuff.github.io"
ogLocale: "de_DE"
canonicalUrl: "https://jjsstuff.github.io/"
rootPath: ""
skipLinkText: "Zum Inhalt springen"
langSwitchHref: "en/"
langSwitchTitle: "English"
langSwitchLabel: "EN"
---
